<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                 <div class="row g-3">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                          <label for="Course Title" class="form-label">Course Title</label>
                          <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                         <label for="Duration" class="form-label">Duration</label>
                         <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                          <label for="Description" class="form-label">Description</label>
                          <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>

                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                          <label for="Venue" class="form-label">Venue</label>
                          <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                         <label for="Date" class="form-label">Date</label>
                         <input type="date" name="" id="" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                         <button class="btn btn-info">Register</button>

                    </div>
                 </div>

            </div>
        </div>
    </div>
</body>
</html>